body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-family: "Cuprum", Tahoma, sans-serif;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.main-header__top {
  background-color: #293449;
}

.main-header__navigation {
  display: flex;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header__logo {
  text-align: center;
  width: 220px;
  height: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 5px solid #b52933;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
}

.main-header__logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.main-header__logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.main-search {
  position: relative;
  width: 270px;
  height: 100%;
}

.main-search__label {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 17px;
  top: 12px;
  background-image: url(../img/icons/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-search__field {
  width: 270px;
  box-sizing: border-box;
  padding: 11px 0 13px 48px;
  border: none;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

input[type="search"]:hover {
  background-image: url(../img/icons/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
}

input[type="search"]:focus {
  background-image: url(../img/icons/icon-search-red.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
}

.navigation-list{
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list__item {
  width: 150px;
}

.navigation-list__link {
  display: block;
  padding-top: 11px;
  padding-bottom: 13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
}

.main-search__field:hover,
.bookmark-link:hover,
.cart-link-index:hover {
  background-color: #212a3a;
}

.main-search__field:focus {
  background-color: #ffffff;
  color: #000000;
}

.bookmark-link {
  position: relative;
  padding-left: 44px;
}

.cart-link {
  position: relative;
  padding-left: 49px;
}

.bookmark-link:active,
.cart-link:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.bookmark-link::before {
  background-image: url(../img/icons/icon-bookmark.svg);
}

.cart-link::before {
  background-image: url(../img/icons/icon-cart.svg);
}

.bookmark-link::before,
.cart-link::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 17px;
  top: 12px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmark-link:hover::before,
.cart-link:hover::before {
  opacity: 1;
}

.bookmark-link:active::before,
.cart-link:active::before {
  opacity: 0.5;
}

.order-link {
  padding-left: 20px;
  background-color: #63a63e;
}

.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.cart-link-catalog {
  background-color: #ee3643;
}

.center, .catalog-main {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header__content {
  height: 70px;
  display: flex;
  margin-top: 46px;
  padding-left: 52px;
}

.main-header__title {
  margin-top: 2px;
  margin-right: 68px;
  width: 200px;
  font-style: italic;
  font-weight: normal;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.main-header__contacts {
  width: 270px;
  margin-right: 70px;
}

.main-header__phone {
  position: relative;
  display: block;
  padding: 9px 0 9px 71px;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.main-header__phone::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 21px;
  left: 12px;
  top: 10px;
  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
}

.main-header__address {
  margin: 3px 0 0 10px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.main-header__accounts {
  display: flex;
  justify-content: space-between;
  width: 280px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.input-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-list__link-enter {
  position: relative;
  display: block;
  width: 122px;
  box-sizing: border-box;
  padding: 12px 0 12px 18px;
  color: #000000;
  background-color: #ffffff;
}

.input-list__link-enter::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 14px;
  top: 14px;
  background-image: url(../img/icons/icon-login.svg);
  background-repeat: no-repeat;
}

.input-list__link-registration {
  display: block;
  width: 150px;
  box-sizing: border-box;
  padding: 12px 0 12px 3px;
  color: #000000;
  background-color: #ffffff;
}

.input-list__link-enter:hover,
.input-list__link-registration:hover {
  color: #ee3643;
}

.input-list__link-enter:hover::before {
  background-image: url(../img/icons/icon-login-blue.svg);
  opacity: 1;
}

.input-list__link-enter:active,
.input-list__link-registration:active {
  color: #c5c5c5;
}

.input-list__link-enter:active::before {
  background-image: url(../img/icons/icon-login.svg);
}

.main-header__menu {
  margin-top: 42px;
  padding: 0 22px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-menu__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

}

.header-menu__item {
  text-align: center;
}

.header-menu__link {
  display: block;
  padding: 20px 31px 18px 30px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.header-menu__link:hover {
  background-color: #293449;
}

.header-menu__link:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

.breadcrumbs-list {
  padding: 0;
}

.breadcrumbs-list__item {
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 10px;
}

.breadcrumbs-list__item a {
  color: #000000;
}

.catalog-main__title {
  padding: 29px 0 30px 30px;
  font-family: "Cuprum", Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-main__content {
  display: flex;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

.filter__title {
  width: 200px;
  margin: 20px auto;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.price__label {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.price__input-range {
  width: 220px;
  height: 80px;
  padding: 0;
  margin-bottom: 9px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #f7f3ec;
}

.price__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  font-size: 17px;
  line-height: 18px;
}

.price__min,
.price__max {
  display: inline-block;
  width: 95px;
  padding-top: 9px;
  padding-bottom: 13px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.manufacturers__legend,
.power__legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter__manufacturers,
.filter__power {
  border: none;
  list-style: none;
  text-transform: uppercase;
}

.manufacturers__list,
.power__list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter__input:disabled + label {
  opacity: 0.4;
}

.filter__button {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 140px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.filter__button:hover {
  border-color: #bdc6ca;
  cursor: pointer;
}

.catalog-product {
  width: 700px;
}

.catalog-product__sorting {
  display: flex;
  align-items: center;
  margin: 20px auto;
  padding-left: 20px;
  background-color: #f7f3ec;
}

.catalog-product__items {
  margin: 0;
  padding: 0;
}

.catalog-product__sort {
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}

.catalog-product__item {
  display: inline-block;
  margin-left: 10px;
  list-style: none;
}

.catalog-product__item a {
  border-bottom: 1px dotted #ee3643;
  color: #000000;
  opacity: 0.3;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-product__item a:hover {
  color: #000000;
  opacity: 1.0;
  border-bottom: 1px solid #ee3643;
}

.catalog-product__item a:focus {
  color:#ee3643;
  opacity: 1.0;
  border-bottom: none;
}

.promo__list {
  display: flex;
  margin: 59px 0 20px 0;
  padding: 0;
  list-style: none;
}

.promo__blocks {
  display: flex;
  margin-bottom: 51px;
}

.promo__list-vertical {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__item {
  position: relative;
  width: 300px;
  height: 123px;
}

.promo__item--materials::before {
  content: " ";
  position: absolute;
  top: 31px;
  right: 40px;
  width: 47px;
  height: 65px;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
}

.promo__item--instrument::before {
  content: " ";
  position: absolute;
  top: 33px;
  right: 25px;
  width: 78px;
  height: 65px;
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
}

.promo__item--technique::before {
  content: " ";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 65px;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
}

.promo__item--discounts::before {
  content: " ";
  position: absolute;
  top: 26px;
  right: 42px;
  width: 62px;
  height: 75px;
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
}

.promo__item--delivery::before {
  content: " ";
  position: absolute;
  top: 32px;
  right: 29px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
}

.element-new {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url(../img/new_flag.png);
  z-index: 10;
}

.promo__item--materials {
  background-color: #ffbf47;
}

.promo__item--instrument {
  background-color: #3bbce3;
  margin-left: 20px;
}

.promo__item--technique {
  background-color: #dc91d8;
  margin-left: 20px;
}

.promo__item--discounts {
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.promo__item--delivery {
  background-color: #ffc047;
}

.promo__title {
  margin: 20px 0 13px 22px;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo__btn {
  display: block;
  width: 135px;
  padding: 10px 0 10px 0;
  margin-left: 25px;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  text-align: center;
}

.promo__btn:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo__btn:active {
  background-color: rgba(0,0,0,0.3);
}

.promo-slider{
  position: relative;
  margin-right: 20px;
}

.promo-slider__image-2 {
  display: none;
}

.promo-slider__slide-1 {
  position: absolute;
  color: #ffffff;
  top: 22px;
  left: 24px;
}

.promo-slider__slide-2 {
  display: none;
  position: absolute;
  color: #ffffff;
  top: 303px;
  left: 28px;
}

.promo-slider__buttons {
  position: absolute;
  top:201px;
  left: 295px;
  list-style: none;
  width: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.promo-slider__button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.promo-slider__button--2 {
  background-color: #ee3643;
}

.promo-slider__title {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 2px 0;
}

.promo-slider__text {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.promo-slider__link {
  position: absolute;
  top: 206px;
  left: 25px;
  padding: 10px 46px 10px 49px;
}

.promo-slider__slide-left {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 23px;
  height: 40px;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
}

.promo-slider__slide-right {
  position: absolute;
  top: 114px;
  right: 19px;
  width: 23px;
  height: 40px;
  background-image: url("../img/icons/icon-right.svg");
  background-repeat: no-repeat;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.btn:hover,
.pagination-item-current:hover {
  background-color: #ca2c37;
}

.btn:active,
.pagination-item-current:active {
  background-color: #ba2732;
}

.product__paragraph,
.manufacture__paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 24px;
  background-color: #f9f5f0;
}

.manufacture__paragraph {
  margin-top: 1px;
  padding-left: 24px;
}

.product__title,
.manufacture__title {
  margin: 29px 0px 30px 0;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.product__link,
.manufacture__link {
  width: 253px;
  padding: 10px 0;
  text-align: center;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.product__item {
  position: relative;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.product__list--index .product__item:nth-child(4n) {
  margin-right: 0;
}

.product__list--catalog .product__item:nth-child(3n) {
  margin-right: 0;
}

.product__item:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.product__item:hover .product__buttons {
  display: block;
}

.new-product {
  top: -1px;
  right: -1px;
}

.product__buttons {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 30px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}

.button {
  display: block;
  margin: 0 auto;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.button__buy {
  width: 135px;
  padding: 10px 0;
  color: #ffffff;
  margin-bottom: 13px;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0px #367315;
}

.button__in-bookmarks {
  width: 129px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  color: #32425c;
  background-color: #ffffff;
}

.button__buy:hover {
  background-color: #5fbb2d;
}

.button__buy:active {
  background-color: #518534;
}

.button__in-bookmarks:hover {
  border-color: #32425c;
}

.button__in-bookmarks:active {
  color: rgba(50,60,92,0.3);
  border-color: rgba(50,60,92,0.3);
}

.product__titles {
  width: 160px;
  margin: 8px auto 10px auto;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.product__price-delete {
  color: #a9a9a9;
  text-decoration: line-through;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.product__price {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 123px;
  margin: 11px auto 0 42px;
  padding: 10px 0 10px 15px;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
}

.product__price::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 19px solid #ee3643;
  top: 0;
  right: -18px;
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.product__price-null {
  margin-top: 39px;
}

.manufacture__list{
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.manufacture__item {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacture__item:nth-child(4n) {
  margin-right: 0;
}

.manufacture__item a {
  display: flex;
  height: 143px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
}

.manufacture__item a:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.manufacture__item a:active {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.manufacture__item a:active img{
  opacity: 0.3;
}

.pagination__list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pagination__item {
  display: inline-block;
  width: 35px;
  margin-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.pagination__item a {
  color: #000000;
}

.pagination__next {
  width: 140px;
}

.pagination__item--current {
  width: 37px;
  border: none;
  background-color: #ee3643;
}

.pagination__item--current a {
  color: #ffffff;
}

.pagination__item:hover {
  border-color: #bdc6ca;
}

.pagination__item:active {
  border-color: #ee3643;
}

.about-perforators {
  padding: 68px 130px 75px 130px;
  background-color: #f2f6f8;
}

.about-perforators__title {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.about-perforators__content {
  padding: 0;
  margin: 0;
}

.service {
  margin-top: 65px;
  padding: 64px 0 0 0;
  background-color: #f4f8fa;
}

.service__center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.service__title,
.about-company__title,
.main-contacts__title {
  margin: 0;
}

.service__text {
  width: 400px;
  margin: 26px 0 70px 0;
  line-height: 24px;
}

.service ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.service__blocks {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 101px;
  background-image: url("../img/sliders/slider2_delivery.png");
  background-repeat: no-repeat;
  background-position: top 23px right 1px;
}

.service__list {
  position: relative;
  margin-right: 80px;
}

.service__list::before {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 272px;
  top: -40px;
  right: 0;
  background-image: url(../img/vertical_stripe.png);
}

.service__item {
  width: 240px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
}

.service__item:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #293449;
  border-bottom: 1px solid #293449;
}

.service__item-delivery {
  color: #32425c;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.slider__title {
  margin: -3px 0 0 0;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.slider__text {
  width: 380px;
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 24px;
}

.slider__btn {
  margin-top: 30px;
  padding: 10px 45px;
}

.slider__delivery {
  display: block;
}

.slider__guarantee {
  display: none;
}

.slider__credit {
  display: none;
}

.about-content {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 78px auto 86px auto;
  padding: 0 10px;
}

.about-company {
  width: 520px;
}

.about-content p {
  line-height: 24px;
}

.about-company__paragraph {
  margin-top: 26px;
}

.about-company__text {
  width: 390px;
  margin-top: 24px;
}

.main-contacts {
  width: 300px;
}

.main-contacts__text {
  width: 182px;
  margin-top: 26px;
  margin-bottom: 32px;
}

.main-contacts__map {
  display: block;
}

.main-contacts__map:active + .modal-map,
.main-contacts__btn:active + .modal-form {
  cursor: pointer;
  display: block;
}

.about-company__transport {
  margin-top: 20px;
  padding-left: 36px;
  list-style: none;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.transport__item {
  position: relative;
  margin-bottom: 20px;
}

.transport__item::before {
  content: " ";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -36px;
  background-color: #ee3643;
}

.about-company__btn {
  margin-top: 18px;
  padding: 10px 40px;
}

.main-contacts__btn {
  margin-top: 38px;
  padding: 10px 59px 10px 64px;
}

.service__title,
.about-company__title,
.main-contacts__title,
.about-perforators__title {
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__menu {
  background-color: #32425c;
}

.main-footer__top {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-footer__logo {
  height: 31px;
  width: 220px;
  padding-top: 17px;
  padding-bottom: 15px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.main-footer__logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.main-footer__logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.top-menu__item a {
  display: block;
  margin-top: 37px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.top-menu__item a:hover,
.bottom-menu__item a:hover {
  text-decoration: underline;
}

.top-menu__item a:active,
.bottom-menu__item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-footer__address {
  width: 328px;
  margin-top: 27px;
  margin-bottom: 51px;
  padding-left: 3px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  width: 525px;
}

.bottom-menu__item a {
  display: block;
  margin-top: 27px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.main-footer__cellar {
  background-color: #293449;
}

.cellar__center {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.cellar__company {
  width: 232px;
  margin: 36px 160px 37px 0;
  padding-left: 1px;
}

.cellar__list {
  display: flex;
  align-items: center;
}

.cellar__item a {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cellar__item a:hover,
.cellar__item a:active {
  background-color: #ee3643;
}

.cellar__link1 {
  background-image: url(../img/icons/icon-vk.svg);
}

.cellar__link2 {
  background-image: url(../img/icons/icon-fb.svg);
}

.cellar__link3 {
  background-image: url(../img/icons/icon-insta.svg);
  margin-right: 0;
}

.cellar__feedback {
  width: 140px;
  margin: 36px 28px 37px 115px;
}

.cellar__developed {
  width: 100px;
  margin: 36px 12px 37px 22px;
}

.feedback__link,
.developed__link {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback__link:hover,
.developed__link:hover {
  text-decoration: underline;
}

.feedback__link:active,
.developed__link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal-map {
  display: none;
  position: fixed;
  top: 38%;
  left: 50%;
  width: 940px;
  margin-left: -470px;
}

.modal-map__image {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-map__close {
  border: 0;
}

.modal-map__close::before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-image: url(../img/icons/form-exit.svg);
}

.modal-form {
  display: none;
  position: fixed;
  top: 52%;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

.modal-form__feedback label {
  display: block;
  margin-bottom: 10px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback__write {
  width: 220px;
  box-sizing: border-box;
  padding: 7px 0 9px 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.feedback__mail,
.feedback__login {
  margin: 45px 0 0 0;
}

.feedback__text {
  margin: 20px 0 37px 0;
}

.feedback__textarea {
  width: 460px;
  box-sizing: border-box;
  height: 115px;
}

.feedback__submit-wrapper {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.feedback__submit {
  border: none;
  width: 460px;
  padding: 10px 0;
}

.modal-form__close {
  border: 0;
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  background-image: url(../img/icons/form-exit.svg);
}

.modal-cart {
  display: none;
  margin-top: 50px;
}

.modal-cart__title {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-cart__btn {
  padding: 7px 20px;
  border: none;
  border-radius: 3px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
